h2 {
  text-align: center;
  color: white;
}

p {
  color: black;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(150px, 1fr)
  ); /* Adjust the minmax values as needed */
  gap: 10px; /* Adjust the gap between images */
  max-width: 100%; /* Ensure the grid does not exceed the screen width */
  margin: 1% 1%; /* Center the grid */
}

.grid-container img {
  max-width: 100%; /* Ensure images fill their grid cells */
  max-height: 150px; /* Maintain aspect ratio */
  justify-self: center;
}

.block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
